mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}
/* input[type="email"],input[type="password"]{
  width:240px;
  height:44px;
  margin-bottom: 20px;
}
mat-icon-button{
position: absolute;
background: #fff;
margin-right: 18px;;
margin-top: 1px;
width:44px;
height: 36px;
padding-top: 8px;
} */
.header {
  text-align: center;
}
.full-width {
  width: 80%;
}

.forget-password {
  padding-left: 0px;

}

.emailInput {
  padding-top: 10px;
}

.aLink {
  float: right;
  padding-right: 60px;
  margin-bottom: 20px;
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
  color: rgb(5, 5, 88);
  font-weight: bolder;
}
h2 {
  text-transform: uppercase;
  font-weight: bolder;
}
.submitBtn {
  width: 80%;
}
